.forgot-password-line {
  justify-content: center;
  margin-top: 60px;
  text-align: center;
  --background: transparent;
}

.forgot-password-text {
  color: white;
  font-size: x-small;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.4px;
}
