/* src/app/my-files/my-files.page.scss */
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px none var(--ion-color-medium);
  border-radius: 8px;
  padding: 40px 20px;
  min-height: 90%;
  text-align: center;
}

.mailbox-icon {
  font-size: 4rem;
  color: var(--ion-color-medium);
  margin-bottom: 16px;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.hint {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
  
}

.browse-button {
  --padding-top: 4px;
  --padding-bottom: 4px;
}
